.about_area{
    .about {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 30px;

        .about_content{
            h4 {
                text-transform: capitalize;
                font-size: 30px;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 20px;
            }
        }
    
        .about-img {
            position: relative;
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: #ff7720;
                right: -35px;
                bottom: -31px;
                z-index: -1;
            }
        }
    
        .about_bottom {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(3, 30%);
            column-gap: 30%;

            .single_about {
                text-align: center;
                i {
                    font-size: 50px;
                    &:hover {
                        color: tomato;
                    }
                }
                h4 {
                    font-size: 25px;
                    font-weight: 600;
                    text-transform: capitalize;
                    margin: 10px 0px;
                }
                a {
                    font-size: 25px;
                    color: #ff7720;
                    display: inline-block;
                    margin-top: 30px;
                    font-weight: 500;
                    &:hover {
                        color: tomato;
                    }
                }
            }
        }

        
    
        
    }

    
    
    
    

}








