


footer.footer_area {
    background-color: black;
    color: #fff;
    a {
        color: #fff;
        font-size: 25px;
        margin: 0px 10px;
    }
    p {
        margin-top: 20px;
        strong {
            font-size: 20px;
            margin: 0 5px;
            color: blue;
            background-color: #fff;
            border: 2px solid #ff7720;
            border-radius: 50px;
            padding: 5px 5px;
        }
    }
    
}
