header.header_area {
    padding: 20px 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    transition:.3s;
    &.sticky{
        background-color:#ff7720;
    }
 
    .header {display: grid;grid-template-columns: 15% 80%;column-gap: 5%;align-items: center;}
    .logo{
        a {text-transform: uppercase;
            font-size: 40px;
            font-weight: 700;
            display: block; 
            color: #fff;}
    }

    .menu{
        ul{ display: flex;justify-content: flex-end;
            li{
                &.current{
                    a{
                        color:blue;
                    }
                }
                a{margin-left: 20px;text-transform: capitalize;color: #fff;font-size: 20px;font-weight: 500;transition: .3s;
                    &:hover{
                        color: #ff7720;
                    }
                }
            }
        }
    }

}

.slicknav_menu {
    display: none;
  }

