.patner_area {
    background-color: #f2f2f2;
    

    .patner {
        display: grid;
        grid-template-columns: repeat(6,auto);
        column-gap: 30px;
    
        img {
            max-width: 170px;
        }
    }
}

