.price_area{
    .price {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 30px;

        .single_price {
            text-align: center;
            padding: 40px 20px;
            /* border: #ff7720; */
            border: 1px solid #ff7720;

            h5 {
                font-size: 25px;
                font-weight: 600;
                text-transform: capitalize;
            }

            h3 {
                background-color: #ff7720;
                padding: 20px 0px;
                margin: 20px 0px;
                font-size: 30px;
                color: #fff;
                font-weight: 600;
            }
                

                span {
                    font-size: 20px;
                    font-weight: 500;
                    font-style: italic;
                }

            
        }

        ul li {
            border: 1px solid #f2f2f2;
            margin-bottom: 10px;
            padding-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 0;
            }
        }
        
        a {
            margin-top: 30px;
        }
    }
}





