/*medium layout 1280px*/
@media only screen and (min-width:992px) and (max-width:1200px) {
    .container{
        width: 970px;
    }
    .about_area{
        .about{
            .about-img{
                &:after{
                    display: none;
                }
            }
        }
    }

    .process_area{
        .process {
            
            grid-template-columns: repeat(4, auto);
          }
    } 

    .contact_area{
        .contact {
        
            grid-template-columns: repeat(2,auto);
          }
    } 
}

/*Tablet layout 768px*/
@media only screen and (min-width:768px) and (max-width:991px) {
    .container{
        width:750px;
    }

    .slicknav_menu {
        display: block;
      }
      .menu{
        display: none;
    }

  
    
        .header_area{
            &.sticky{
                background-color: #333;
                padding: 28px 0px;
                position: fixed;
                top:0;
            }
            .header{
            .logo{
                a {
                    
                    position: fixed;
                    top: 15px;
                  }
            }
        }
    } 

    .slicknav_menu {
        display: block;
        position: fixed;
        z-index: 999;
        right: 0;
        background-color: transparent;
        width:100%;
        ul{
            background-color: #333;
        }
      }

      .banner_area{
        text-align: center;
            h1{
                font-size: 45px;
            }
            
        
      }
      .about_area{
        .about{
            .about-img{
                &:after{
                    display: none;
                }
            }
        }
    }

    .feature_area{
        &:after, &:before{
           display: none;
        }
        .feature{
            grid-template-columns: auto;
        }
    }
    .service_area{
        .service{
            grid-template-columns: repeat(2, auto);
        }
    }
    .process_area{
        .process{
            grid-template-columns: repeat(2, auto);
        }
    }
    .project_area{
        .project{
            grid-template-columns: repeat(2, auto);
        }
    }
    .price_area{
        .price{
            .single_price{
                padding: 25px 5px;
            }
        }
    }
    .blog_area{
        .blog{
            .single_blog{
                .blog_img{
                    .blog_meta{
                        margin:0;
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .contact_area{
        .contact{
            grid-template-columns: auto;
            grid-gap:30px;
        }
    }
    .patner_area{
        .patner{
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            grid-gap: 30px;
        }
    }
}

/*Mobile layout 320px*/
@media only screen and (max-width:767px) {
    .container{
        width: 300px;
       
    }
    .slicknav_menu {
        display: block;
      }
      .menu{
        display: none;
    }

    .slicknav_menu {
        display: block;
        position: fixed;
        z-index: 999;
        right: 0;
        background-color: transparent;
        width:100%;
        ul{
            background-color: #333;
        }
      }

      .banner_area{
        text-align: center;
            h1{
                font-size: 30px;
                line-height: 30px;
            }
            
        
      }

      .about_area{
        .about{
            grid-template-columns: auto;
            row-gap: 40px;
            .about_content{
                h4{
                    font-size: 22px;
                    font-weight: 500;
                    background-color: #333;
                    color: #fff;
                }
            }
            

            .about_bottom{
                grid-template-columns: auto;
                row-gap: 30px;
            }
        }
        
      }

      .feature_area{
        &:after, &:before{
           display: none;
        }
        .feature{
            grid-template-columns: auto;
        }
    }

    .service_area{
        .service{
            grid-template-columns: auto;
            row-gap: 35px;
        }
    }

    .process_area{
        .process{
            grid-template-columns: auto;
            row-gap: 40px;
        }
    }

    .project_area{
        .project{
            grid-template-columns:auto;
            row-gap: 15px;
        }
    }

    .counter_area{
        
        .counter{
            grid-template-columns: repeat(2, auto);
     

            .single_counter{
                
                h4{
                    span{
                        font-size: 20px;
                       margin: 5px auto;
                        
                    }
                }
            }
        }
    }
    .team_area{
        .team{
            grid-template-columns: auto;
            row-gap: 30px;
        }
    }
    .video_area{
        .video{
            width: 100%;
        }
    }

    .price_area{
      
        .price{
            grid-template-columns: auto;
            row-gap: 30px;
            .single_price{
                padding: 25px 5px;
            }
        }
    }

    .blog_area{
        .blog{
            grid-template-columns: auto;
            row-gap: 30px;
            .single_blog{
                .blog_img{
                    .blog_meta{
                        margin:0;
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    .contact_area{
        .contact{
            grid-template-columns: auto;
            grid-gap:30px;
            .contact_address{
                grid-template-columns: auto;
            grid-gap:30px;
            }
        }
    }
    .patner_area{
        .patner{
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            grid-gap: 30px;
        }
    }
}
/*width mobile layout 480px*/
@media only screen and (min-width:480px) and (max-width:767px) {
    .container{
        width: 450px;
    }
}